<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nx_js.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nx_objects.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
</head>
<body>

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MKT_DASHBOARD v0.065</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
       {% if session['user'] %}
            <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="rb_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RB</a>
            <div class="dropdown-menu" aria-labelledby="rb_menu">
              <a class="dropdown-item" href="{{ url_for('rb_list') }}">list</a>
              <a class="dropdown-item" href="{{ url_for('rb_add') }}">add</a>
            </div>
            </li>
        {% if session['rw'] == 1 %}
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user_list') }}">User List</a>
          </li>
       {% endif %}
        {% endif %}


    </ul>
    <ul class="navbar-nav ml-auto">
    {% if session['hash'] and session['hash'] != '' %}
      <li class="nav-item">
          {% if session['rw'] == 1 %}
        <a class="nav-link text-success ">{{ session['hash'][:16] }}</a>
          {% else %}
        <a class="nav-link text-muted">{{ session['hash'][:16] }}</a>
          {% endif%}
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-user" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">{{session['user']}}
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-user">
          <a class="dropdown-item" href="{{ url_for('user_edit') }}">Profile</a>
          <a class="dropdown-item" href="{{ url_for('user_logout') }}">Logout</a>
        </div>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
<!--/.Navbar -->





    <div class="container">
{% block body%}{% endblock %}
    </div>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>